# Environment Variables Template for Inovador Design Studio (Strapi CMS Backend)

HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="<APP_KEY_1_PLACEHOLDER>,<APP_KEY_2_PLACEHOLDER>"
API_TOKEN_SALT="<API_TOKEN_SALT_PLACEHOLDER>"
ADMIN_JWT_SECRET="<ADMIN_JWT_SECRET_PLACEHOLDER>"
TRANSFER_TOKEN_SALT="<TRANSFER_TOKEN_SALT_PLACEHOLDER>"
JWT_SECRET="<JWT_SECRET_PLACEHOLDER>"

# Database Configuration (MySQL)
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=inovador_cms
DATABASE_USERNAME="<DB_USER_PLACEHOLDER>"
DATABASE_PASSWORD="<DB_PASSWORD_PLACEHOLDER>"
DATABASE_SSL=false

# Media Storage (Cloudinary)
CLOUDINARY_NAME="<CLOUDINARY_NAME_PLACEHOLDER>"
CLOUDINARY_KEY="<CLOUDINARY_KEY_PLACEHOLDER>"
CLOUDINARY_SECRET="<CLOUDINARY_SECRET_PLACEHOLDER>"
